.sidesearch {
  width: 70%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidesearch.show {
  transform: translateX(0);
}

.search_input {
  margin-top: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  font-size: 20px;
  border-radius: 8px;
  border: 3px solid darkslateblue;
  background: #f4f4f4;
  padding: 6px 0 4px 10px;
}

.search_input:hover,
.search_input:focus {
  border: 3px solid deeppink;
  outline: none;
}

.search_results {
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-size: 20px;
}
.search_container {
  overflow-y: auto;
  margin-bottom: 2rem;
}

.search_link {
  text-decoration: none;
  color: darkslateblue
}

.search_link:hover {
  text-decoration: none;
  color: deeppink;
  font-weight: bold;
}

.sidesearch span {
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-style: italic;
  color: grey;
}

@media (max-width: 950px) {
  .search_input {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  
  .search_results {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .sidesearch span {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

.loader {
  border: 10px solid deeppink;
  border-radius: 50%;
  border-top: 10px solid darkslateblue;
  border-bottom: 10px solid darkslateblue;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}